<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 	
 	<import resource="classpath:spring-db.xml" />
 	
 	
	<bean id="helloBean" class="com.sss.myapp.HelloWorld">
		<property name="name" value="Saikumar" />
	</bean>
	
	<bean id="custdao" class="com.sss.myapp.dao.CustomerDaoImpl">
		<property name="dataSource"  ref="dataSource" />
	</bean>
 	
 	<bean id="custservice" class="com.sss.myapp.service.CustomerServiceImpl">
		<property name="custdao" ref="custdao" />
	</bean>
	
	
	
	<bean id="before" class="com.sss.myapp.aop.ProcessBeforeMethod"/>
	<bean id="after" class="com.sss.myapp.aop.ProcessAfterMethod"/>
	
	<bean id="custProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
                 <property name="target" ref="custservice" />
 
		<property name="interceptorNames">
			<list>
				<value>before</value>
				<value>after</value>
			</list>
		</property>
                 
     </bean>		
</beans>