heading
{
	font-family:cursive;
	display:block;
	font:bold 18pt; 

}
job
{
	display: block;
	font:bold; 
	background: gray;
	colour: green;
}
name
{
	font-style: italic
}
tel
{
	display:block;
	font: bold;
}

